#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.column {
  display: inline-block;
  width: calc(30% -5px);
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
}

#play-btn {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
